$brand-color: #ffbd27;
$notice-color: #eb473a;
$divide-color:#e8e8e8;
$bg-color: #f4f4f4;






@mixin border-radius($color: $divide-color, $num: 0px) {
  border: 1px solid $color;
  border-radius: $num;
}

@mixin multi-ellipsis($lines: 1) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
}
